<article>
  <div>
    <h3>{{Shiftevent.title}}</h3>
    <div>
      <span>Name:</span> {{Shiftevent.name}}
    </div>
    <div>
      <span>Role:</span> {{Shiftevent.type}}
    </div>
  </div>
</article>
