<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SOCKS</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="schedule" class="menu-schedule">
      Schedule
    </LinkTo>
    <LinkTo @route="ooo" class="menu-ooo">
      OOO
    </LinkTo>
    <LinkTo @route="assign" class="menu-assign">
      Assign
    </LinkTo>
    <LinkTo @route="reports" class="menu-reports">
      Reports
    </LinkTo>
  </div>
  <div class="log">
    {{#if this.session.isAuthenticated}}
      <a {{on "click" this.invalidateSession}}>Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>
