<div class="nav">
  {{#link-to 'index' class="nav-item"}}SOCKS{{/link-to}}
  {{#link-to 'schedule' class="nav-item"}}Schedule{{/link-to}}
  {{#link-to 'ooo' class="nav-item"}}OOO{{/link-to}}
  {{#link-to 'assign' class="nav-item"}}Assign{{/link-to}}
  {{#link-to 'reports' class="nav-item"}}Reports{{/link-to}}
</div>
