{{input date='date' value=@shiftevent.date placeholder='Enter date' class="form"}}
{{input name='name' value=@shiftevent.name placeholder='Enter employee name' class="form"}}
{{input team='team' value=@shiftevent.team placeholder='Enter role' class="form"}}

<div class="submit-button">
  <button {{action 'create'}}>Submit</button>
</div>
